{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event creation</h1>

    <div class="client_event">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
        {{ form_end(form) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('event_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}


    {% block documentready %}

        {#$('input[type=datetime]').prop("disabled", true);#}

        $(".form_datetime").datetimepicker({
        bootcssVer: 3,
        format: 'yyyy-mm-dd hh:ii',
        autoclose: true,
        minuteStep: 60,
        minView: 'day',
        initialDate: 'today',
        todayHighlight: true,
        {#todayBtn: true,#}
        {#pickerPosition: "bottom-left",#}
        })
        .on('changeDate', function(ev){
        endtime = moment(ev.date).add(1, 'hour').format('YYYY-MM-DD HH:mm');
        $('.client_event #event_endTime').val(endtime);
        });
    {% endblock %}